body {
  text-align: center;
  padding: 80px;
  background-image: url("/images/pizzatoon.png");
  background-color: white;
}
.d-flex {
  justify-content: space-evenly;
}
footer {
  padding: 50px;
}

img {
  width: 400px;
  padding: 5px;
}
